In [32]:
import pandas as pd

df = pd.read_excel('score.xlsx', index_col='지원번호')


# 학교 이름 변경 : 구로고 > 가산고 / 디지털고 > 단지고
# SW특기 > 소문자로 변경
# 4번 SW특기 > Django 
# 5번 sw특기 > Python 
# 합계 컬럼 추가
# 결과컬럼 추가 270 이상 > pass

In [33]:
df['학교'].replace({'구로고':'가산고','디지털고':'단지고'})
df['SW특기'].str.lower()
df.loc['4번', 'SW특기'] = 'Django'
df.loc['5번', 'SW특기'] = 'Python'

df['합계'] = df['국어']+df['영어']+df['수학']+df['과학']+df['사회']
df['결과'] = 'Fail'

# filt = df['합계'] >= 40000
# df.loc[filt, '결과'] = 'pass'
df.loc[df['합계'] >= 400, '결과'] = 'pass'
df

       이름    학교    키   국어   영어   수학  과학  사회        SW특기   합계    결과
지원번호
1번    강나래   구로고  197   90   85  100  95  85      Python  455  pass
2번    강태원   구로고  184   40   35   50  55  25        Java  205  Fail
3번    강호림   구로고  168   80   75   70  80  75  Javascript  380  Fail
4번    김수찬   구로고  187   40   60   70  75  80      Django  325  Fail
5번    김재욱   구로고  188   15   20   10  35  10      Python   90  Fail
6번    박동현  디지털고  202   80  100   95  85  80           C  440  pass
7번    박혜정  디지털고  188   55   65   45  40  35      PYTHON  240  Fail
8번    승근열  디지털고  190  100   85   90  95  95          C#  465  pass

In [35]:
# 문자열 =  문자열 + 문자열  가능
df['학교'] = df['학교']+'등학교'
df

       이름       학교    키   국어   영어   수학  과학  사회        SW특기   합계    결과
지원번호
1번    강나래   구로고등학교  197   90   85  100  95  85      Python  455  pass
2번    강태원   구로고등학교  184   40   35   50  55  25        Java  205  Fail
3번    강호림   구로고등학교  168   80   75   70  80  75  Javascript  380  Fail
4번    김수찬   구로고등학교  187   40   60   70  75  80      Django  325  Fail
5번    김재욱   구로고등학교  188   15   20   10  35  10      Python   90  Fail
6번    박동현  디지털고등학교  202   80  100   95  85  80           C  440  pass
7번    박혜정  디지털고등학교  188   55   65   45  40  35      PYTHON  240  Fail
8번    승근열  디지털고등학교  190  100   85   90  95  95          C#  465  pass

In [ ]:
str(df.loc['1번', '키']) + 'cm'
df['키']

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, 1번 to 8번
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   이름      8 non-null      object
 1   학교      8 non-null      object
 2   키       8 non-null      int64
 3   국어      8 non-null      int64
 4   영어      8 non-null      int64
 5   수학      8 non-null      int64
 6   과학      8 non-null      int64
 7   사회      8 non-null      int64
 8   SW특기    8 non-null      object
 9   합계      8 non-null      int64
 10  결과      8 non-null      object
dtypes: int64(7), object(4)
memory usage: 1.0+ KB

데이터 분석 > 서비스 
데이터 잘 가공 하기
인기 있는 서비스 조사 > 왜 인기가 있는지 ?